<% include partials/head.ejs %>
<link rel="stylesheet" href="/stylesheets/adminHome.css">

<body>
<section>
    <div>
    <a href="admin/internships" class="btn btn-lg btn-primary space">Add Internship</a><br><br><br>
    <a href="admin/logout" class="btn btn-lg btn-primary space">Log Out</a><br><br><br>
    <a href="admin/requests" class="btn btn-lg btn-primary space">Requests</a><br><br>
</div>
</section>
</body>
