<% include partials/head.ejs %>

<section>
    <a href="admin/internships" class="btn btn-lg btn-primary">Internship Add</a>
    <a href="admin/logout" class="btn btn-lg btn-primary">Log Out</a>
</section>
