



<% include partials/head.ejs %>
<link href="/stylesheets/applyInternship.css" rel="stylesheet">

<br>
<br>


<h1>Apply For internship</h1>
<br>
<%= internship.name %>
<br>
<%= internship.description %>
<hr>
<form action="request" method="post">
    <center>
        <table>
            <tr><td><label for="">Internship id</label>
            </td><td>
                <input type="text" name="internshipId" id="internshipId" value="<%=internship.internshipId %>" disabled>            </td></tr>

            <tr><td><label>Applicant Userid</label>
            </td>
                <td><input type="text" value="<%= userEmail%>" disabled name="userId" id="userId">

            </td></tr>

            <tr><td><label for="">Domain:</label></td><td>
                <select name="domain" id="domain">
                    <option value="react">React</option>
                    <option value="node">Node.js</option>
                    <option value="frontend">FrontEnd</option>
                    <option value="angular">Angular</option>
                    <option value="database">Mongo & Other Database</option>
                    <option value="UI/UX">UI & UX </option>
                </select>
            </td></tr>



        </table>
<br>
<br>
    <button type="submit">Submit</button>
</center>
</form>




<br>
<br>
<hr>
<br>

<% include partials/footer.ejs %>
<br>
<br>

