<% include partials/head.ejs%>
<link rel="stylesheet" href="/stylesheets/contact.css">

<div class="container-fluid fix">

    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

        <a class="navbar-brand" href="/">
            <img src="https://cdn5.vectorstock.com/i/1000x1000/29/04/golden-font-type-letter-i-vector-4992904.jpg" width="50" height="50" alt="I" class="logo" >
            Indent
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr">
                <li class="nav-item ">
                    <a class="nav-link" href="#AboutUs">About Us</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/contactus">Contact Us</a>
                </li>
            </ul>
            <ul class="navbar-nav ml">
                <li class="nav-item">
                        <a class="nav-link" href="/login">    Sign In/Register</a>


                </li>
            </ul>
        </div>
    </nav>
</div>



<!-- <h3 class="display-2">Contact Us page</h3> -->
<br>
<br>
<h1><b>Contact Us</b></h1>

<br>
<br>

<div class="container">
    <center>
    <form action="/contactus/send" method="post">
        <table>
        <tr><td><label for="name">Name:</label></td><td>
            <input type="text" name="name" id="name" />
        </td></tr>

        <tr><td><label for="email">Email Address:</label></td>
            <td><input type="email" name="email" id="email">
        </td></tr>

        <tr><td><label for="feedback">Comments/Feedback:</label></td><td>
            <textarea name="feedback" id="feedback" cols="30" rows="5"></textarea>
        </td></tr>

    </table>
        <br>


        <br>

        <button type="submit" class="btn-lg btn btn-primary">Submit</button>
    </form>
</center>
</div>
<br>
<br>

<hr>

<br>
<br>

<% include partials/footer.ejs %>
