<% include partials/head.ejs%>
<h1 class="display-2">Contact Us page</h1>

<div class="container">
    <form action="">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" />
        <br>
        <label for="email">Email Address:</label>
        <input type="text" name="email" id="email">
        <br>
        <label for="feedback">Comments/Feedback:</label>
        <textarea name="feedback" id="feedback" cols="30" rows="5"></textarea>
        <br>
        <button type="submit" class="btn-lg btn btn-primary">Submit</button>
    </form>
</div>
