<% include partials/head.ejs %>
<section xmlns="http://www.w3.org/1999/html">

    <div class="container-fluid fix">

        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

            <a class="navbar-brand" href="/">
                <img src="https://cdn5.vectorstock.com/i/1000x1000/29/04/golden-font-type-letter-i-vector-4992904.jpg" width="50" height="50" alt="I" class="logo" >
                Indent
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr">
                    <li class="nav-item ">
                        <a class="nav-link" href="#AboutUs">About Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link <%if(user==='undefined'){ %> d-none <% }%> " href="/internships" >Internship Opportunities</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/contactus">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml">
                    <li class="nav-item">
                        <% if(user === 'undefined'){%>
                            <a class="nav-link" href="/login">    Sign In/Register</a>
                        <%} else {%>
                            <a class="nav-link" href="/logout">
                                Logout,<%= user %>
                            </a>
                            <%}%>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<style>
    .par{
        font-size: 18px;
    }

body {
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */



/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icons {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icons:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 20px;
  color: aqua;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

</style>


<br>
<br>

<center>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Mission</h1>
            <p class="lead">To change students' life by providing them projects</p>
            <br>
            <hr>
            <br>
            <h1 class="display-4">Vision</h1>
            <p class="lead">Grab the oportunity. Make choices,Take Chances and ultimately see the Changes</p>
        </div>
    </div>

<br>
<br>

    <div class="container-fluid">

        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icons fas fa-check-circle fa-4x"></i>
                <h3 class="feature-title">Best Projects</h3>
                <p>We provide you with the Best projects that could come to your mind</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icons fas fa-stopwatch fa-4x"></i>
                <h3 class="feature-title">24*7 HelpLine available</h3>
                <p>Any queries anytime.We are there.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icons fas fa-home fa-4x"></i>
                <h3 class="feature-title">Free Registration</h3>
                <p>Register with us for free and enjoy the benefits</p>
            </div>
        </div>

        <br>
        <br>
        <div class="row row2">
            <div class="feature-box col-lg-4">
                <i class="icons fas fa-check-circle fa-4x"></i>
                <h3 class="feature-title">Amazing Offers</h3>
                <p>Raining offers throughout the year.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icons fas fa-bullseye fa-4x"></i>
                <h3 class="feature-title">30 Day Certificate Guarantee</h3>
                <p>Once you submit your project we will deliver you with the certificate after evaluation within 30 days</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icons fas fa-bullseye fa-4x"></i>
                <h3 class="feature-title">Stress Free and Enjoyable Projects</h3>
                <p>Our projects are different and gives a sense of enjoyment which doing it</p>
            </div>


        </div>

    </div>
</center>
<br>
<br>
<br>



<hr></hr>
<center>
<br>
<br>

    <section id="AboutUs">

        <h1>About Us</h1>
        <br></br>
        <p class="par"><b>Indent</b> is one of its kind Platform for students to get various projects ,which can help build their resume by showing the variety of projects made by them on our portal</b>
        </p>
        <br></br>
        <p class="par">
            Also,it helps students to take the project based on their own choice and also allows then to complete it using their own framework
        </p>
        <hr></hr>

        <br>
        <br>



<br>
<br>
    </section>

    <% include partials/footer.ejs %>
