<% include partials/head.ejs %>
<section xmlns="http://www.w3.org/1999/html">

    <div class="container-fluid fix">

        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">

            <a class="navbar-brand" href="C:\Users\Krish\Desktop\WPL Project\index.html">
                <img src="https://cdn5.vectorstock.com/i/1000x1000/29/04/golden-font-type-letter-i-vector-4992904.jpg" width="50" height="50" alt="I" class="logo" >
                Indent
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr">
                    <li class="nav-item ">
                        <a class="nav-link" href="#AboutUs">About Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link <%if(user===''){ %> d-none <% }%> " href="/internships" >Internship Opportunities</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="C:\Users\Krish\Desktop\Indent\contactus.html">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml">
                    <li class="nav-item">
                        <% if(user === ''){%>
                            <a class="nav-link" href="/login">    Sign In/Register</a>
                        <%} else {%>
                            <a class="nav-link" href="/logout">
                                Logout,<%= user %>
                            </a>
                            <%}%>

                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<center>


    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Mission</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            <h1 class="display-4">Vision</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>


    <div class="container-fluid">

        <div class="row">
            <div class="feature-box col-lg-4">
                <i class="icons fas fa-check-circle fa-4x"></i>
                <h3 class="feature-title">Best Projects</h3>
                <p>We provide you with the Best projects that could come to your mind</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icons fas fa-stopwatch fa-4x"></i>
                <h3 class="feature-title">24*7 HelpLine available</h3>
                <p>Any queries anytime.We are there.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icons fas fa-home fa-4x"></i>
                <h3 class="feature-title">Free Registration</h3>
                <p>Register with us for free and enjoy the benefits</p>
            </div>
        </div>
        <div class="row row2">
            <div class="feature-box col-lg-4">
                <i class="icons fas fa-check-circle fa-4x"></i>
                <h3 class="feature-title">Amazing Offers</h3>
                <p>Raining offers throughout the year.</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icons fas fa-bullseye fa-4x"></i>
                <h3 class="feature-title">30 Day Certificate Guarantee</h3>
                <p>Once you submit your project we will deliver you with the certificate after evaluation within 30 days</p>
            </div>

            <div class="feature-box col-lg-4">
                <i class="icons fas fa-bullseye fa-4x"></i>
                <h3 class="feature-title">Stress Free and Enjoyable Projects</h3>
                <p>Our projects are different and gives a sense of enjoyment which doing it</p>
            </div>


        </div>

    </div>
</center>



<hr></hr>
<center>


    <section id="AboutUs">

        <h1>About Us</h1>
        <br></br>
        <p class="par"><b>Indent</b> is one of its kind Platform for students to get various projects ,which can help build their resume by showing the variety of projects made by them on our portal</b>
        </p>
        <br></br>
        <p class="par">
            Also,it helps students to take the project based on their own choice and also allows then to complete it using their own framework
        </p>
        <hr></hr>


        <footer class="white-section" id="footer">
            <div class="container-fluid">
                <a href="https://www.facebook.com"><i class="social-icon a fab fa-facebook-f fa-2x"></i></a>
                <a href="https://www.twitter.com"><i class="social-icon a fab fa-twitter fa-2x"></i></a>
                <a href="https://www.instagram.com"><i class="social-icon a fab fa-instagram fa-2x"></i></a>
                <a href="https://www.gmail.com"><i class="social-icon fas a fa-envelope fa-2x"></i></a>
                <p>© Copyright 2020 Indent Group</p>
            </div>
        </footer>

    </section>

    <% include partials/footer.ejs %>
